.cont{
    background-color: #303236;
    height: 100vh;
    background-image: url("C:\Users\USUARIO\Desktop\HENRY\FTM2\FT-M2\12-React-Redux\homework\src\pcorn far.jpg");
    background-position-x:center ;
    font-family:'Trebuchet MS' 
}